html,

.header{
   background-color: black;
   width: 100%;
   height: 80px;
}

.logotip{
  vertical-align: middle;
  display: table;
  color: white;
  float: left;
}

a{
    padding: 30px 30px;
    display: table;
    float: right;
    text-decoration: none;
}

a li{
    display: table-cell;
    font-size: 20px;
    color: white;
}

a:hover{
    background-color: gray;
    color: #101010;
}

.blok{
  width: 100%;
  background: #dbd9d9;
  height: 40px;
  font-size: 30px;
  text-align: center;
}

.blok1{
  width: 100%;
  background: #dbd9d9;
  height: 100%;
  font-size: 30px;
  text-align: left;
}

img{
   position : relative ;
   top: 0px;
   left: 255px;
}

p{
   position: absolute;
  top: 110px;
  left: 600px;
  font-size: 20px;
}



